@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@import "./styles/00-base.css";
@import "./styles/10-scroll-foundation.css";
@import "./styles/20-cls-lcp.css";
@import "./styles/30-performance-scroll.css";
@import "./styles/40-theme-overlays.css";
@import "./styles/50-fps-overrides.css";


