.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
  touch-action: pan-y pan-x;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  contain: strict;
  will-change: contents;
}

.galaxy-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
  pointer-events: none;
}
